html, body, div, span, p, blockquote, h1, h2, h3, h4, h5, h6, hr, ol, ul, li, a, img, input, textarea, object, emded, iframe, fieldset, form, label, legend, table, tr, td, section { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; line-height: 1em; }

html { height: 100%; font-size: 62.5%; /* Reset font to 10px */ }

body { height: 100%; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

input[type=text], input[type=password], input[type=email], input[type=submit], input[type=reset], input[type=button], textarea { -webkit-appearance: none; }

ul, ol { list-style: none; }

.clear { clear: both; }

body { font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; color: #9da5a9; font-size: 16px; font-size: 1.6rem; line-height: 1em; background: #333333; min-width: 1050px; }

p { line-height: 1.6em; margin-bottom: 20px; }

p:last-child { margin-bottom: 0; }

.fontWeightLight, h1, h2 { font-weight: 300; }

.fontWeightRegular { font-weight: 400; }

.fontWeightSemiBold { font-weight: 600; }

h1 { font-size: 48px; font-size: 4.8rem; color: white; line-height: 1.2em; margin-bottom: 25px; }

h2 { font-size: 24px; font-size: 2.4rem; color: white; line-height: 1.3em; opacity: .8; margin-bottom: 20px; }

h3 { font-size: 30px; font-size: 3rem; font-weight: 600; color: white; }

/* Links */
a { text-decoration: none; color: white; }

a.button { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: white; font-size: 14px; font-size: 1.4rem; font-weight: 600; line-height: 24px; background: #1fbde2; padding: 10px 30px; }

.container { width: 1050px; margin: 0 auto; padding-top: 130px; }

.content { width: 1010px; margin: 0 auto; }

#header { background: #70C4B2;); background-size: cover; background-position: center top; }

footer { font-size: 14px; font-size: 1.4rem; padding: 80px 0; }
footer .container .content div:not(.clear) { float: left; width: 50%; line-height: 40px; }
footer .container .content div:not(.clear):nth-child(2) { text-align: right; }
footer .container .content div:not(.clear) a { display: inline-block; width: 40px; height: 40px; margin-left: 10px; }
footer .container .content div:not(.clear) img { width: 40px; height: 40px; }

#page-home #header .container .content > a.logo { float: left; width: 107px; height: 55px; margin: 90px 0 120px 0; }
#page-home #header .container .content > a.download { float: right; margin: 30px 0 80px 0; }
#page-home #header .container .content #header-text { float: left; width: 45%; margin-right: 10%; }
#page-home #header .container .content #header-text h2 { margin-bottom: 40px; }
#page-home #header .container .content #header-text a { display: inline-block; }
#page-home #header .container .content #header-text a:nth-child(3) { margin-right: 10px; }
#page-home #header .container .content #header-text img { display: inline-block; width: 149px; height: 49px; margin-bottom: 80px; }
#page-home #header .container .content #header-img { float: left; width: 45%; text-align: right; }
#page-home #header .container .content #header-img img { vertical-align: top; width: 433px; height: 542px; }
#page-home .feature { padding: 120px 0 77px 0; }
#page-home .feature.bg-white { background: white; }
#page-home .feature.bg-grey-dark { background: #f3f3f3; }
#page-home .feature .content { display: table-row; }
#page-home .feature img:nth-child(1) { display: inline-block; vertical-align: middle; width: 268px; height: 528px; padding: 0 0 0 8%; }
#page-home .feature .feature-text:nth-child(2) { display: inline-block; vertical-align: middle; width: 40%; padding: 0 10% 0 12%; }
#page-home .feature .feature-text:nth-child(1) { display: inline-block; vertical-align: middle; width: 40%; padding: 0 12% 0 10%; }
#page-home .feature img:nth-child(2) { display: inline-block; vertical-align: middle; width: 268px; height: 528px; padding: 0 8% 0 0; }
#page-home .feature h2 { color: #333333; }
#page-home .feature p { margin-bottom: 45px; }

#page-game-details #header .container .content { text-align: center; min-height: 468px; }
#page-game-details #header .container .content > a.logo { float: left; width: 107px; height: 55px; margin: 30px 0 80px 0; }
#page-game-details #header .container .content > a.download { float: right; margin: 30px 0 80px 0; }
#page-game-details #header .container .content h2 { color: #9da5a9; font-weight: 600; opacity: 1; }
#page-game-details #header .container .content p { color: white; opacity: .6; width: 510px; margin: 0 auto 20px auto; }
#page-game-details #header .container .content #players { padding-bottom: 100px; }
#page-game-details #header .container .content #players > div:nth-child(1) { float: left; width: 455px; text-align: right; }
#page-game-details #header .container .content #players > div:nth-child(1) .player { margin: 0 10px 10px 0; }
#page-game-details #header .container .content #players > div:nth-child(2) { float: left; width: 100px; font-size: 28px; font-size: 2.8rem; line-height: 60px; }
#page-game-details #header .container .content #players > div:nth-child(3) { float: left; width: 455px; text-align: left; }
#page-game-details #header .container .content #players > div:nth-child(3) .player { margin: 0 0 10px 10px; }
#page-game-details #header .container .content .player { position: relative; display: inline-block; width: 60px; height: 60px; }
#page-game-details #header .container .content .player-fave { position: absolute; z-index: 2; right: -5px; bottom: -5px; }
#page-game-details #header .container .content .player-avatar { background: white; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; width: 60px; height: 60px; }
#page-game-details #game-details { text-align: center; background: white; padding: 60px 0 0 0; }
#page-game-details #game-details #map { margin: -120px auto 60px auto; display: block; width: 420px; height: 340px; }
#page-game-details #game-details a { display: inline-block; }
#page-game-details #game-details a:nth-child(2) { margin-right: 10px; }
#page-game-details #game-details a > img { display: inline-block; width: 149px; height: 49px; margin-bottom: 60px; }

/* Loader */
.spinner {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #fff;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.hide,
#page-game-details #game-details a.hide,
#page-home #header .container .content #header-text a.hide {
  display: none;
}
.cta-buttons {
  position: relative;
  display: inline;
  display: -webkit-inline-box;
  display: -moz-inline-box;
}


.cta-buttons button {
    padding: 20px 0px;
    width: 200px;
    margin: 30px 30px 0px 0px;;
    text-align:center;
    border-radius: 3px;
    border: 0px;
    font-size: 1.2em;
}

.cta-buttons button:hover {
  cursor: pointer;
}

.cta-buttons i {
  padding: 0px 9px;
  font-size: 1.4em
}
.android-button { 
  background: #a4c639;
  color: white;
}

.iphone-button { 
  background: white;
  color: black;
}

.link-not-working {
  color: white;
  text-align: center;
  margin-left: -30px;
  font-size: .8em;
  margin-top: 6px;
  font-weight: 700;
}

.download-button button {
	border: 2px solid white;
	border-radius: 4px;
	background: none;
	font-size: 18px;
	color: white;
	padding: 20px 10px;
	margin: 5px;
	cursor: pointer; 
}

.download-button button:hover {
	box-shadow: 2px 2px 2px rgba(0,0,0,.16);
	box-shadow: 1px 1px 1px rgba(0,0,0,.26);
}

#header-text h3 {margin: 20px 0;}

.alpha-warning {
	background: #EF5350;
	color: white;
	width: 100%;
	font-size: 16px;
	box-shadow: 1px 2px 4px rgba(0,0,0,0.32);
	z-index: 99999;
}

.nav-links li{
	display: inline-block;
	margin-right: 40px;
	font-size: 2.5em;
	text-shadow: 3px 2px 2px rgba(0,0,0,.18);
}
