body {
    font-family: "Montserrat", sans-serif;
    background-color: #70C4B2;
    color: #123238;
}

a {
    text-decoration: none;
    color: #70C4B2;
    font-weight: 700;
}

a:hover {
    color: #123238;
}

.container {
    display: flex;
}

.column {
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.intro > div {
    max-width: 80%;
}

.intro {
    background: #fff;
    z-index: 1;
    box-shadow: 10px 0 20px rgba(0,0,0,.25);
}

.intro > div h1 {
    display: flex;
    font-size: 72px;
    font-weight: 700;
    margin: 0;
}

.intro > div h2 {
    font-size: 36px;
    font-weight: 400;
    margin: 24px 0 18px;
}

.intro > div h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin: 0 0 24px;
}

input, button {
    font-family: "Montserrat", sans-serif;
}

form {
    display: inline;
}

input {
    font-size: 18px;
    padding: 5px 0;
    width: 100%;
    max-width: 300px;
    border: none;
    border-bottom: 1px solid #123238;
    margin-bottom: 24px;
    margin-right: 24px;
}

button {
    background: #1993D1;
    border-radius: 5px;
    border: none;
    color: #FFF;
    padding: 14px 18px;
}

.content
{
  display: flex;
  align-items: center;
}

.content > div
{
  justify-content: center;
display: flex;
}

.content > div > img {
    width: 80%;
height: 80%;
    align-items: center;
}

.carousel {
    overflow: hidden;
}

.logo {
  width: 64px;
  margin-left: 18px;
}

.title {
    display: flex;
    align-items: center;
}


.slider {
    display: flex;
}
.slider .slide img {
    width: 100%;
}

#subscribe {
    margin-bottom: 18px;
}

@media screen and (max-width: 799px) {
    .container {
        flex-direction: column;
    }
    
    .column {
        width: 100%;
        height: 100%;
    }
    
    input {
        margin-right: 0;
        width: 100%;
    }

    .content {
	margin: 10% 0;
    }
    
    #subscribe {
        display: inline-block;
    }
    
    .intro {
        padding: 48px 0;
        box-shadow: 0 10px 20px rgba(0,0,0,.25);
    }
    
    .intro > div h1 {
        font-size: 48px;
        font-weight: 700;
        margin: 0;
    }
    
    .intro > div h2 {
        font-size: 24px;
        font-weight: 400;
        margin: 18px 0 18px;
    }
    
    .intro > div h3 {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        margin: 0 0 24px;
    }
}