<footer class="footer">
  <div class="footer__row">
    <p class="copyright">© Copyright - 2018 Canoe</p>
    <ul class="footer__icons">
      <li class="footer__icons__link"><a href="https://discord.gg/ecVcJM3" target="_blank"><span class="icon-discord-round"></span></a></li>
      <li class="footer__icons__link"><a href="https://github.com/getcanoe" target="_blank"><span class="icon-github-round"></span></a></li>
      <li class="footer__icons__link"><a href="https://twitter.com/canoewallet" target="_blank"><span class="icon-twitter-round"></span></a></li>
    </ul>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112004728-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
      
    gtag('config', 'UA-112004728-1');
  </script>
</footer>