<footer class="footer">
  <div class="footer__row">
    <ul class="footer__sitemap">
      <li><a href="{{ site.baseurl }}/" class="footer__sidemap__link">Home</a></li>
      <li><a href="{{ site.baseurl }}/blog" class="footer__sidemap__link">Blog</a></li>
      <li><a href="{{ site.baseurl }}/contribute.html" class="footer__sidemap__link">Contribute</a></li>
      <li><a href="{{ site.baseurl }}/howtobuy.html" class="footer__sidemap__link">How to buy</a></li>
      <li><a href="{{ site.baseurl }}/help.html" class="footer__sidemap__link">Help</a></li>
      <li><a href="{{ site.baseurl }}/download" class="footer__sidemap__link">Download</a></li>
    </ul>
    <ul class="footer__icons">
      <li class="footer__icons__link"><a href="https://discord.gg/ecVcJM3" target="_blank"><span class="icon-discord-round"></span></a></li>
      <li class="footer__icons__link"><a href="https://github.com/getcanoe" target="_blank"><span class="icon-github-round"></span></a></li>
      <li class="footer__icons__link"><a href="https://twitter.com/canoewallet" target="_blank"><span class="icon-twitter-round"></span></a></li>
    </ul>
    <p class="copyright">© Copyright - 2018 Canoe</p>
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112004728-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
      
    gtag('config', 'UA-112004728-1');
  </script>
</footer>