.post {
  @media #{$desktop} {
    max-width: 800px;
    margin: 40px auto 0;
  }

  &__image {
    width: 100%;
  }

  &__header {
    margin: 40px 20px 30px;
    @media #{$desktop} {
      margin: 30px 0 20px;
      position: relative;
    }

    &__title {
      @include fontSize(28px);
    
      font-family: $muli;  
      font-weight: 700;
      color: $dark-grey;
      @media #{$desktop} {
        @include fontSize(30px);
      }
    }

    &__date {
      padding: 5px 0 0;
    }

    &__share {
      &__icons {
        list-style: none;
        width: 100%;
        padding: 0;
        @media #{$desktop} {
          float: right;
        }
    
        &__link {
          margin: 15px 0 0;
          display: inline-block;
          font-size: 36px;
          padding: 0 6px 0 0;
          color: $white;
          @media #{$desktop} {
            font-size: 30px;
            padding: 0 5px 0 0;
            margin: 20px 0 30px;
          }
    
          a {
            transition: color 0.2s linear;
            text-decoration: none;
            color: $dark-grey;
    
            &:visited {
              color: $dark-grey;
            }
    
            &:hover {
              color: $blue;
            }
          }
        }
      }
    }
  }

  &__content {
    padding: 0 20px;
    @media #{$desktop} {
      padding: 0;
    }

    h1, h2 {
      @include fontSize(22px);
  
      padding: 30px 0 10px;
      font-family: $muli;  
      font-weight: 700;
      color: $dark-grey;
      @media #{$desktop} {
        @include fontSize(20px);
        padding: 30px 0 10px;
      } 
    }

    p {
      line-height: 1.35;
      @media #{$desktop} {
        line-height: 1.5;
      }

      + p {
        padding: 15px 0 0;
      }
    }

    a {
      text-decoration: none;
      color: $blue;
    }

    ul, ol {
      padding: 5px 0 15px 15px;
      li {
        font-family: $lato;
        line-height: 1.35;
        color: #363B49;
        padding: 3px 0;
        @media #{$desktop} {
          line-height: 1.5;
        }
      }
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }
  }
}

.tags {
  width: 100%;
  padding: 15px 0 5px;

  &__tag {
    @include fontSize(14px);

    transition: background-color 0.2s linear;
    background-color: $blue;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 0.4px;
    font-family: $lato;
    padding: 8px 12px;
    font-weight: 400;
    color: $white;
    margin: 0 4px 0 0;
    @media #{$desktop} {
    }
  }
}