---
layout: default
---
<article class="post">
    {% if page.img %}
    <img class="post__image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    {% endif %}
    <header class="post__header">
      <h1 class="post__header__title">{{page.title}}</h1>
      <p class="post__header__date">{{page.date | date: '%b %d, %Y'}} {% if author %}- Written by <a href="{{ author.web }}" target="_blank">{{ author.name }}</a>{% endif %}</p>
      <div class="tags">
        {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tags__tag">&#35; {{ tag }}</a>
        {% endfor %}
      </div>
      <ul class="post__header__share__icons">
        <li class="post__header__share__icons__link"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><span class="icon-twitter-round"></span></a></li>
        <li class="post__header__share__icons__link"><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><span class="icon-facebook-round"></span></a></li>
        <li class="post__header__share__icons__link"><a  href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank"><span class="icon-google-round"></span></a></li>
      </ul>
    </header>
    <div class="post__content">
      {{page.content | markdownify}}

      {% include donate.html %}
    </div>
</article> 
