.footer {
  background-color: #1B074E;
  padding: 45px 20px 100px;
  @media #{$desktop} {
    padding: 70px 20px;
  }

  &__row {
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    @media #{$desktop} {
      flex-direction: row;
      position: relative;
    }
  }

  &__icons {
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0 0 24px;
    order: 1;
    @media #{$desktop} {
      text-align: right;
      float: right;
      width: 50%;
      margin: 0;
      order: 2;
      position: absolute;
      right: 0;
      bottom: 40px;
    }

    &__link {
      display: inline-block;
      font-size: 38px;
      padding: 0 8px;
      color: $white;
      @media #{$desktop} {
        font-size: 40px;
        padding: 0;
      }

      a {
        transition: color 0.2s linear;
        text-decoration: none;
        color: $white;

        &:visited {
          color: $white;
        }

        &:hover {
          color: $blue;
        }
      }

      + .footer__icons__link {
        @media #{$desktop} {
          padding: 0 0 0 20px;
        }
      }
    }
  }

  &__sitemap {
    text-align: center;
    margin: 0 0 25px;
    @media #{$desktop} {
      text-align: left;
      width: 25%;
      margin: 0;
    }

    li {
      display: inline-block;
      padding: 6px 10px;
      @media #{$desktop} {
        padding: 8px 0;
        display: block;
      }

      a {
        transition: 0.2s linear;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $lato;
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 300;
        color: $white;

        @media #{$desktop} {
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  .copyright {
    display: inline-block;
    text-align: center;
    font-weight: 300;
    color: $white;
    width: 100%;
    padding: 0;
    margin: 0;
    order: 2;
    @media #{$desktop} {
      position: absolute;
      text-align: right;
      right: 0;
      bottom: 0;
    }
  }
}