// Colors
$white: #fff;
$black: #000;
$dark-grey: #363B49;
$blue: #0DB4F3;
$blue-hover: #069BD3;
$green: #0ACA52;

// Fonts
$muli: 'Muli', sans-serif;
$lato: 'Lato', sans-serif; 

//Mediaqueries
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
